# Environment variables / secrets
.env
client_secret.json

# Python
__pycache__/
*.py[cod]

# Local database
*.sqlite3
*.db

# Virtual environment
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db